<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/" method="POST">
<label for="name_id">name: </label>
<input id="name_id" type="text" name="name">
<label for="breed_id">breed: </label>
<input id="breed_id" type="text" name="breed">
<label for="age_id">age: </label>
<input id="age_id" type="text" name="age">
<input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
