<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Your Puppy!</title>
  </head>
  <body>
    <label name="name">Puppy Name: <%= @pup.name %></label>
    <label name="breed">Puppy Breed: <%= @pup.breed %></label>
    <label name="age">Puppy Age: <%= @pup.age %></label>
  </body>
</html>
